# Required
NTFY_TOPIC=ozbargain-deals

# Optional
NTFY_SERVER=https://ntfy.sh
NTFY_ACCESS_TOKEN=
POLL_INTERVAL_MS=60000
NTFY_DELAY_MS=1000
DATA_DIR=data
OZBARGAIN_API_URL=https://www.ozbargain.com.au/api/live?disable=comments%2Cvotes%2Cwiki&types=Forum%2CComp%2CAd&update=1
USER_AGENT=curl/8.5.0
DEBUG=false
